Django==5.2.4
psycopg2-binary==2.9.10
python-decouple==3.8
django-cors-headers==4.6.0
djangorestframework==3.16.0
django-filter==25.1
drf-nested-routers==0.94.2
Pillow==11.1.0
dj-database-url==2.2.0
gunicorn==22.0.0
whitenoise==6.8.2
